*{
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #DDD8CA;
    color: #5D9E7F;
    justify-content: space-between;
    
}

nav .navbar-brand{
    position: fixed;
    top:24.5%;
    color: #ffffff;
    font-size: 28px;
    margin-left: 2%;
}

nav .nav-list{
    position: fixed;
    top:30%;
}

nav .nav-list .nav-item{
    padding: 0 30px;
}

header{
    background-color: #F1E292;
    color: #D7A4B9;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

header h1{
    margin-top: 0;
    padding: 3.5%;
}

footer{
    background-color: #F1E292;
    color: #D7A4B9;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

main h2{
    top: 0;
    text-align: center;
    font-size: 60px;
}

main img  {
    width: 80%;
    margin-bottom: 2%;
    margin-left: 10%;
}

main h4{
    text-align: center;
    font-size: 35px;
}

main p{
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

footer h2{
    padding: 2%;
    margin-bottom: 0;
}